*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color:#efefef;
  color:#4040EF;
  font-family: 'Noto Sans', sans-serif;
}

section{
  display:none;
  width:100%;
}
.active{
  display:inline-block;
}
.container{
  width:50%;
  margin:0 auto;
}
h1{
  text-align:center;
  margin:5% 0;
}
h3{
  text-align:center;
  font-size:1.25em;
  margin:5% 0;
}
form{
  text-align:center;
}
