.charFeature {
    width: 50%;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
}
.opponent-content img{
  width:100%;
}
.playerAvatar img {
    border-radius: 100%;
}

.playerAvatar {
    width: 33%;
    margin: 0 auto;
    display:inline-block;
    vertical-align:middle;
}
.vs{
  width:33%;
  display:inline-block;
  text-align:center;
}
