.charFeature {
    width: 50%;
    display: inline-block;
    overflow: hidden;
    padding: 10px;
}
.opponent-content img{
  width:100%;
}
.playerAvatar img {
    border-radius: 100%;
}

.playerAvatar {
    width: 20%;
    margin: 0 auto;
}
